<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
        <meta http-equiv="Content-Security-Policy" content="frame-ancestors 'none';" />
        <title>The Uncarved Block</title>
        <meta name="HandheldFriendly" content="True">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="referrer" content="no-referrer-when-downgrade">
        <meta name="description" content="Sean Hunter's personal blog, containing software, haskell, scala, ocaml, unix tips and sundry other things."/>
        <meta charset="utf-8">
        <link rel="stylesheet" href="{{ get_url(path="style.css", trailing_slash=false) }}"/>
    </head>
    <body>
        <div class="header">
            <h1>The Uncarved Block</h1>
        </div>
        <div id="left_menu">
            <ul>
                <li><a href="{{ get_url(path="") }}">top</a></li>
                {% for sec in section.subsections %}
                {% set current = get_section(path=sec) %}
                <li><a href="{{ get_url(path=current.path) }}">{{ current.path }}</a></li>
                {% endfor %}
            </ul>
        </div>
        <div class="body">
            {{ section.content | safe }}

        </div>
    </body>
</html>

