<!DOCTYPE html>
<html>
    <head>
        <title>The Uncarved Block</title>
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
        <meta name="description" content="Sean Hunter's personal blog, containing software, haskell, scala, ocaml, unix tips and sundry other things."/>
        <meta charset="utf-8">
        <link rel="stylesheet" href="{{ get_url(path="style.css") }}"/>
    </head>
    <body>
        <div class="main">
            {{ page.content | safe }}
        </div>
    </body>
</html>

