<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
        <meta http-equiv="Content-Security-Policy" content="frame-ancestors 'none';" />
        <meta name="HandheldFriendly" content="True">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="referrer" content="no-referrer-when-downgrade">
        <meta name="description" content="Sean Hunter's personal blog, containing software, haskell, scala, ocaml, unix tips and sundry other things."/>
        <meta charset="utf-8">
        <link rel="stylesheet" href="{{ get_url(path="style.css", trailing_slash=false) }}"/>
        <title>The Uncarved Block: {{ page.title | safe }}</title>
        <meta name="description" content="Sean Hunter's personal blog, containing software, haskell, scala, ocaml, unix tips and sundry other things."/>
        <meta charset="utf-8">
        <link rel="stylesheet" href="{{ get_url(path="style.css") }}"/>
    </head>
    <body>
        <div class="main">
            {{ page.content | safe }}
        </div>
    </body>
</html>

