        <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
        <meta http-equiv="Content-Security-Policy" content="frame-ancestors 'none';" />
        <meta http-equiv="Cache-Control" content="max-age=21600, must-revalidate" />
        <meta charset="utf-8">
        <meta name="HandheldFriendly" content="True">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, viewport-fit=cover">
        <meta name="referrer" content="no-referrer-when-downgrade">
        <link rel="stylesheet" href="{{ get_url(path="style.css", trailing_slash=false) }}"/>
