        <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
        <meta http-equiv="Content-Security-Policy" content="default-src: 'self'; frame-ancestors 'none';" />
        <meta http-equiv="X-Frame-Options" content="SAMEORIGIN" />
        <meta http-equiv="X-Content-Type-Options" content="nosniff" />
        <meta http-equiv="Referrer-Policy" content="strict-origin" />
        <meta http-equiv="Feature-Policy" content="geolocation 'none'; speaker 'none'; notifications 'none'; push 'none'; sync-xhr 'none'; microphone 'none'; camera 'none'; magnetometer 'none'; gyroscope 'none'; speaker 'none'; vibrate 'none'; payment 'none';" />
        <meta http-equiv="Expect-CT" content="enforce, max-age=30" />
        <meta http-equiv="Cache-Control" content="max-age=21600, must-revalidate" />
        <meta charset="utf-8">
        <meta name="HandheldFriendly" content="True">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, viewport-fit=cover">
        <meta name="referrer" content="no-referrer-when-downgrade">
        <link rel="stylesheet" href="{{ get_url(path="style.css", trailing_slash=false) }}"/>
